./.idea
./backend/.env
./frontend/.env
./backend/node_modules
./frontend/node_modules
./frontend/dist
./frontend/.idea
./backend/.idea

/.idea
/backend/.env
/frontend/.env
/backend/node_modules
/frontend/node_modules
/frontend/dist
/frontend/.idea
/backend/.idea
/.idea/
